<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="workingtest.dao.MtcCourseSigninMapper">

    <sql id="allColumn">
        id,course_signin_key,course_name,lecturer_name,learner_name,learner_unit,learner_title,sign_in_time
    </sql>


    <insert id="insert" parameterType="mtcCourseSigninDO" useGeneratedKeys="true" keyProperty="id">
    insert into mtc_course_signin (
         course_signin_key,
          course_name,
          lecturer_name,
          learner_name,
          learner_unit,
          learner_title,
          sign_in_time   
    )
    values(
         #{courseSigninKey},
          #{courseName},
          #{lecturerName},
          #{learnerName},
          #{learnerUnit},
          #{learnerTitle},
          #{signInTime}  
    )
  </insert>

    <delete id="delete">
        delete from mtc_course_signin
        where id = #{id}
    </delete>


    <update id="update" parameterType="mtcCourseSigninDO">
        update mtc_course_signin
        <set>
            <if test="courseSigninKey != null">
                course_signin_key = #{courseSigninKey},
            </if>
            <if test="courseName != null">
                course_name = #{courseName},
            </if>
            <if test="lecturerName != null">
                lecturer_name = #{lecturerName},
            </if>
            <if test="learnerName != null">
                learner_name = #{learnerName},
            </if>
            <if test="learnerUnit != null">
                learner_unit = #{learnerUnit},
            </if>
            <if test="learnerTitle != null">
                learner_title = #{learnerTitle},
            </if>
            <if test="signInTime != null">
                sign_in_time = #{signInTime},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="select" resultType="mtcCourseSigninDO">
        select
        <include refid="allColumn"/>
        from mtc_course_signin
        where id = #{id}
    </select>

    <select id="selectAll" resultType="mtcCourseSigninDO">
        select
        <include refid="allColumn"/>
        from mtc_course_signin
    </select>

</mapper>
